body {
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center
  }
  div{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap; 
  }
  div i{ 
    height: 50%;
    width: 50%;
  }
  div i:nth-child(1) {
    background: radial-gradient(
                circle at bottom, 
                #F9E492 45%, 
                #0000 45%
              );
  }
  div i:nth-child(2){
    background: radial-gradient(
                circle at left, 
                #4F77FF 45%, 
                #0000 45%
              );
  }
  div i:nth-child(3) {
    background: radial-gradient(
                circle at right, 
                #4F77FF 45%, 
                #0000 45%
              );
  }
  div i:nth-child(4) {
    background: radial-gradient(
                circle at top, 
                #F9E492 45%, 
                #0000 45%
              );
  }
